/* Color Scheme 1
=========================================================*/
body {
    background: #ffffff;
    color: #1f1f25;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*='heading-'] {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: none;
    color: #1f1f25;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
[class*='heading-'] a {
    color: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
[class*='heading-'] a:hover {
    color: #1f1f25;
}

a,
a:focus,
a:active {
    color: #1f1f25;
}

a:hover {
    color: #595967;
}

.section-newsletter .form-label {
    color: #abaaad;
}

.section-newsletter .form-input,
.form-input {
    color: #151515;
}

.form-label, .form-label-outside{
    color: #abaaad;
}

input:-webkit-autofill~label,
input:-webkit-autofill~.form-validation {
    color: #fff !important;
}


.block-center:hover .block-center-header {
    background-color: #ffffff;
}

.block-center-title {
    background-color: #1f1f25;
}

@media (max-width: 1599px) {
    .block-center:hover .block-center-header {
        background-color: #1f1f25;
    }

    .block-center-header {
        background-color: #ffffff;
    }
}

.list-contacts a,
.list-contacts a:focus,
.list-contacts a:active {
    color: #1f1f25;
    font-weight: 500;
}

.list-contacts a:hover {
    color: #595967;
}

.button:after {
    background: #1f1f25;
}

.button:hover:after {
    background: #515159;
}

.button-default,
.button-default:focus {
    color: #1f1f25;
    border: 2px solid #1f1f25;
}

.button-default:hover,
.button-default:active {
    color: #fff;
    background-color: #595967;
    border-color: #595967;
}

.button {
    font-weight: 500;
}

.btn {
    outline: none;
}

.btn.btn-dark {
    color: #595967;
    opacity: 0.8;
}

.btn.btn-dark:hover {
    color: #1f1f25;
    opacity: 1;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    color: #ffffff;
    background: #000;
    border-color: #000;
}

.btn-primary:hover {
    color: #ffffff;
    background: #1f1f25;
    border-color: #1f1f25;
}

.button-primary-gradient,
.button-primary-gradient:focus {
    color: #1f1f25;
    background-color: #fff;
}

.button-primary-gradient:hover,
.button-primary-gradient:active {
    color: #1f1f25;
    background-color: #fff;
}

.button-primary-gradient.button-ujarak::before {
    background: #fff;
}

.button-primary-gradient.button-pipaluk::before,
.button-primary-gradient.button-pipaluk:focus::before {
    background: #fff;
}

.contact-form-bg {
    background: #efeff0;
}

.section-newsletter .rd-form .button {
    background: #2c2b32;
}

.section-newsletter .form-input {
    background-color: #efeff0;
    border: 1px solid #efeff0;
    border-left: 3px solid #1f1f25;
}

.footer-modern .footer-variant-2-bottom-panel,
.footer-modern {
    background: #2c2b32;
}

.ui-to-top:hover,
.ui-to-top {
    color: #1f1f25;
}

.ui-to-top:hover:after,
.ui-to-top:hover {
    color: #515159;

}

.ui-to-top:hover:after {
    background: #515159;
}

.ui-to-top:after {
    background: #1f1f25;
}

.counter-creative-title {
    color: #1f1f25;
}

.preloader {
    background: #fff;
}

.cssload-container span {
    background-color: #1f1f25;
}

.title-decoration-lines-content {
    color: #efeff0;
}

.time_circles>div>h4,
.time_circles>div>span {
    color: #1f1f25;
}

.discount {
    color: #fff;
}

.services-bg:before,
.services-bg:after {
    background: #e9e9ea;
}

.post-creative .post-creative-top .post-counter {
    color: #efeff0;
}

.post-creative .post-creative-figure img {
    box-shadow: none;
}

.post-creative .post-creative-figure {
    display: block;
}

.post-creative .post-creative-figure:before {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100,ffffff+100&0.85+0,0.85+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9ffffff', endColorstr='#00ffffff', GradientType=0);
    /* IE6-9 */
    content: "";
    position: absolute;
    top: 0px;
    height: 423px;
    width: 387px;
}

.clients-modern img {
    position: relative;
    opacity: 0.4;
    display: none;
}

a.clients-modern.client-img-1:before,
a.clients-modern.client-img-2:before,
a.clients-modern.client-img-3:before,
a.clients-modern.client-img-4:before,
a.clients-modern.client-img-5:before,
a.clients-modern.client-img-6:before {
    content: "";
    width: 202px;
    height: 143px;
    display: block;
    transition: all .3s ease;
    opacity: 0.4;
}

a.clients-modern.client-img-1:before {
    background: url(../images/clients-1-light.png) no-repeat center center;
    background-size: contain;
}

a.clients-modern.client-img-2:before {
    background: url(../images/clients-2-light.png) no-repeat center center;
    background-size: contain;
}

a.clients-modern.client-img-3:before {
    background: url(../images/clients-3-light.png) no-repeat center center;
    background-size: contain;
}

a.clients-modern.client-img-4:before {
    background: url(../images/clients-4-light.png) no-repeat center center;
    background-size: contain;
}

a.clients-modern.client-img-5:before {
    background: url(../images/clients-5-light.png) no-repeat center center;
    background-size: contain;
}

a.clients-modern.client-img-6:before {
    background: url(../images/clients-6-light.png) no-repeat center center;
}

a.clients-modern.client-img-1:hover:before,
a.clients-modern.client-img-2:hover:before,
a.clients-modern.client-img-3:hover:before,
a.clients-modern.client-img-4:hover:before,
a.clients-modern.client-img-5:hover:before,
a.clients-modern.client-img-6:hover:before {
    opacity: 1;
    transform: scale(0.9);
}

.rd-navbar-modern.rd-navbar-static .rd-search,
.rd-navbar-project {
    background: rgba(239, 239, 240, 0.9);
}

.rd-navbar-static .rd-nav-link {
    color: #1f1f25;
}

.project-close>span {
    color: #1f1f25;
}

.rd-navbar-static .rd-navbar-search-toggle,
.rd-navbar-switcher {
    color: #1f1f25;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-search-form-input {
    border-bottom: 1px solid #1f1f25;
}

.rd-navbar-modern.rd-navbar-static .form-label,
.rd-navbar-modern.rd-navbar-static .rd-navbar-search-form-input {
    color: #1f1f25;
}

.rd-search-results-live #search-results,
.rd-navbar-search .form-input {
    box-shadow: 0 0 8px 0 rgba(239, 239, 240, 0.15);
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-search-toggle.active,
.rd-navbar-modern.rd-navbar-static .rd-search-form-submit {
    color: #1f1f25;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-search-toggle.active:hover,
.rd-navbar-modern.rd-navbar-static .rd-search-form-submit:hover {
    color: #515159;
}

.rd-navbar-modern.rd-navbar-static #search-results,
.rd-navbar-modern.rd-navbar-static .search-quick-result {
    color: #151515;
}

.rd-navbar-modern.rd-navbar-static .search-title {
    color: #151515;
}

.swiper-pagination__fraction span.swiper-pagination__fraction-count {
    opacity: 0.6;
}

.swiper-pagination__divider:before {
    background: #959aa3;
}

.swiper-slider-modern .button:after {
    background: #1f1f25;
}

.swiper-slide:after {
    background: rgb(132, 131, 139, 0.45);
    content: "";
    position: absolute;
    left: 0px;
    height: 100%;
    display: block;
    z-index: -1;
    width: 100%;
    top: 0px;
}

.swiper-slider-modern .button:hover:after {
    background: #595967;
}

.rd-navbar-modern.rd-navbar-static.rd-navbar--is-stuck::before,
.rd-navbar-modern.rd-navbar-static.rd-navbar--is-clone::before {
    background: #fff;
}

.project-hamburger-text {
    color: #1f1f25;
}

.project-hamburger-2>span {
    background: #1f1f25;
}

.rd-navbar-modern-list-social a,
.rd-navbar-modern-list-social a:focus,
.rd-navbar-modern-list-social a:active {
    color: #1f1f25;
}

.swiper-pagination__fraction-index {
    color: #1f1f25;
    opacity: 1;
}

.swiper-pagination__fraction {
    color: #1f1f25;

}

.swiper-pagination__fraction .swiper-pagination__fraction-divider {
    opacity: 0.6;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-brand img {
    display: none;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-brand .brand:before {
    content: "";
    width: 62px;
    height: 253px;
    display: block;
    background-image: url(../images/logo-dark.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.context-dark,
.bg-gray-dark,
.bg-primary,
.context-dark h1,
.bg-gray-dark h1,
.bg-primary h1,
.context-dark h2,
.bg-gray-dark h2,
.bg-primary h2,
.context-dark h3,
.bg-gray-dark h3,
.bg-primary h3,
.context-dark h4,
.bg-gray-dark h4,
.bg-primary h4,
.bg-primary h5,
.context-dark h6,
.bg-gray-dark h6,
.bg-primary h6,
.context-dark [class*='heading-'],
.bg-gray-dark [class*='heading-'],
.bg-primary [class*='heading-'] {
    color: #1f1f25;
}

.rd-search-results .match,
.rd-search-results .search-title,
.rd-search-results .search-list-item::before,
.rd-search-results .search-list-item,
.breadcrumbs-custom-path li.active,
.breadcrumbs-custom-path li::after,
.breadcrumbs-custom-path a,
.breadcrumbs-custom-path a:active,
.breadcrumbs-custom-path a:focus {
    color: #1f1f25;
}

.rd-navbar-modern.rd-navbar-static.rd-navbar--is-stuck::before,
.rd-navbar-modern.rd-navbar-static.rd-navbar--is-clone::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    box-shadow: none;
}

@media (max-width: 1199px) {
    .rd-navbar-fixed .rd-navbar-panel {
        color: #1f1f25;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.55);
        background: #fff;
    }

    .project-hamburger>span {
        background: #151515;
    }

    .rd-navbar-toggle {
        color: #151515;
    }

    .rd-navbar-fixed .rd-navbar-nav-wrap {
        color: #1f1f25;
        background: #fff;
        border: 1px solid #fff;
    }

    .rd-navbar-brand a.brand-mobile img {
        display: none;
    }

    .rd-navbar-brand a.brand-mobile:before {
        content: "";
        width: 62px;
        height: 56px;
        display: inline-block;
        background-image: url(../images/logo-mobile-dark.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-right: 15px;
    }

    .rd-navbar-fixed .rd-nav-link {
        color: #1f1f25;
    }

    .rd-navbar-fixed .rd-nav-link:hover {
        color: #515159;
    }

    .post-creative .post-creative-top .post-counter {
        color: #efeff0;
    }

    a.clients-modern.client-img-1:before,
    a.clients-modern.client-img-2:before,
    a.clients-modern.client-img-3:before,
    a.clients-modern.client-img-4:before,
    a.clients-modern.client-img-5:before,
    a.clients-modern.client-img-6:before {
        width: 135px;
        height: 75px;
    }

    .rd-navbar-fixed .rd-navbar-search .form-input {
        color: #1f1f25;
        border-bottom: 1px solid #1f1f25;
    }

}